[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/Color-Sampler-Pack"]
	path = .vim/bundle/Color-Sampler-Pack
	url = git://github.com/vim-scripts/Color-Sampler-Pack.git
